*
{
color: #333333;
margin: 0px;
padding: 0px;
}

html
{
overflow-y: scroll;
}

/**
dt
{
clear: both;
display: inline;
}

dd
{
display: inline;
}
*/

.left
{
float: left;
}

.right
{
float: right;
}

body
{
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 100%;
padding: 10px 10px 0px 10px;
}

#page
{
margin: 0px auto auto auto;
width: 990px;
}

#header
{
border-bottom: solid #a31313 3px;
float: left;
margin-bottom: 5px;
padding-bottom: 10px;
padding-left: 5px;
padding-right: 5px;
text-align: left;
width: 980px;
}

#logo-floater
{
float: left;
}

#name-and-slogan
{
float: left;
margin: 0px 0px 0px 10px;
}

#name-and-slogan h1
{
font: 450% Arial;
}

#name-and-slogan a
{
font-weight: bold;
text-decoration: none;
}

#header-region
{
float: right;
max-height: 110px;
max-width: 400px;
padding: 5px;
text-align: right;
}

#container
{
border-bottom: solid #a31313 3px;
clear: both;
float: left;
margin-top: 10px;
width: 100%;
}

.block .item-list ul
{
padding-left: 0px;
}
#sidebar-first
{
float: left;
font-size: 90%;
padding-left: 5px;
padding-right: 20px;
width: 170px;
}

#sidebar-second
{
float: right;
font-size: 90%;
padding-left: 20px;
padding-right: 5px;
width: 170px;
}

.sidebar .block
{
margin-bottom: 20px;
}

.sidebar table
{
width: 100%;
}

.sidebar h2
{
font-size: 125%;
}

#main
{
float: left;
width: 590px;
}

#main h1
{
font-weight: bold;
text-decoration: none;
}

#main h2
{
font-size: 130%;
}

#main h2.title
{
font-size: 150%;
font-weight: bold;
margin-bottom: 10px;
}

#main p
{
font-size: 80%;
line-height: 15px;
margin-bottom: 10px;
}

#main ul
{
margin: 0px 10px 0px 20px;
}

#main li
{
color: #333333;
font-size: 75%;
}

#main a:link, #main a:visited
{
color: #333333;
text-decoration: underline;
}

#main a:hover
{
color: #333333;
text-decoration: none;
}

#breadcrumb
{
font-size: 70%;
}

#main .node
{
border-bottom: solid 2px #FFD700;
margin-bottom: 20px;
padding-bottom: 5px;
}

#main .node h2 a:link, #main .node h2 a:visited
{
text-decoration: none;
}

#main .meta
{
font-size: 70%;
padding: 0px;
}

#main .meta .submitted
{
color: #AAAAAA;
}

#main .meta .links li
{
font-size: 100%;
}

#main .meta a
{
color: #AAAAAA;
}

.content
{
margin: 10px 0px 0px 0px;
}

.node_read_more a
{
font-weight: bold;
text-decoration: none;
}

#main table
{
width: 100%;
}

#main tbody
{
font-size: 90%;
}

#main td
{
padding-right: 10px;
}

div.views-field-picture
{
margin: 5px 0px 15px 0px;
}

#footer
{
clear: both;
float: left;
font-size: 70%;
margin-bottom: 15px;
width: 100%;
}

#footer span.right ul
{
text-align: right;
display: inline;
}

#footer span.right li
{
display: inline;
list-style-type: none;
padding: 0px 0px 0px 5px;
}

#footer a:link, #footer a:visited
{
text-decoration: underline;
}

#footer a:hover
{
text-decoration: none;
}